* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background: url("../images/pokeball-wallpaper.jpg") no-repeat center fixed;
  background-size: cover;
}

#favourite-list {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 20vw;
  height: 100%;
  background-color: rgb(88, 69, 69);
  text-align: center;
}

h2 {
  margin-top: 10px;
  color: rgb(255, 166, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3vw;
}

/* Search Bar and Button */
#content-body {
  margin-top: 13.5vw;
  width: calc(80vw - 17px);
}

#header {
  width: inherit;
  height: 12vw;
  background-color: rgb(65, 65, 65);
  position: fixed;
  z-index: 1;
  top: 0;
}

#input-bar {
  position: relative;
  top: 3.4vw;
  width: 90%;
  height: 4vw;
  font-size: 2vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(65, 65, 65);
  background-color: white;
  margin-left: 1%;
  border-radius: 0px;
}

#input-btn {
  position: relative;
  top: 4.4vw;
  right: 0;
  border: 0;
  padding: 0;
  background-color: rgb(255, 166, 0);
  margin-left: 1%;
  cursor: pointer;
  border-radius: 0px;
}

#input-btn img {
  height: 3.5vw;
}

/* Info Cards */
#flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2vw;
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 175px;
  height: 250px;
  background-color: whitesmoke;
  margin: 5px;
  cursor: pointer;
}

.card-container img {
  width: 175px;
  height: 175px;
}

.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.card-info {
  width: 175px;
  height: 75px;
  background-color: rgb(65, 65, 65);
  color: white;
  text-align: center;
}

.card-info p {
  position: relative;
  top: 5px;
  font-size: 14px;
}

.hide {
  display: none;
}